<form [ngClass]="{form: true}">
	<label [ngClass]="{lable: true}">Enter your password
		<input name="password" placeholder="password" type="password" [(ngModel)]="password"
			(ngModelChange)="onPasswordChange()" [ngClass]="{passwordField: true}" />
	</label>
</form>
<ul [ngClass]="{indicatorsList: true}">
	<li
		[ngClass]="{indicatorsListItem: true, defaultBg: defaultBg, shortPassword: shortPassword, easyPassword: easyPassword, mediumPassword: mediumPassword, strongPassword: strongPassword }">
		Easy</li>
	<li
		[ngClass]="{indicatorsListItem: true, defaultBg: defaultBg, shortPassword: shortPassword, mediumPassword: mediumPassword, strongPassword: strongPassword }">
		Medium</li>
	<li
		[ngClass]="{indicatorsListItem: true, defaultBg: defaultBg, shortPassword: shortPassword, strongPassword: strongPassword }">
		Strong</li>
</ul>