.form {
	padding: 8px 0;
}

.lable {
	display: flex;
	gap: 16px;
	justify-content: center;
	align-items: center;
	color: #272025;
	font-size: 24px;
}

.passwordField {
	width: 300px;
	padding: 4px 8px;
	border: none;
	border-bottom: 2px solid rgb(153, 149, 152, 0.7);
	font-size: 22px;
	outline: none;
	transition: border-color 300ms linear;
}

.passwordField:focus {
	border-color: #272025;
}

.indicatorsList {
	list-style: none;
	display: flex;
	gap: 28px;
	justify-content: center;
	align-items: center;
	padding: 0;
	margin: 24px 0 0;
}

.indicatorsListItem {
	padding: 8px 16px;
	min-width: 100px;
	color: #ffebe3;
	text-align: center;
	border-radius: 4px;
	transition: all 300ms linear;
}

.shortPassword {
	background-color: #d50102;
}

.defaultBg {
	background-color: rgb(128, 128, 128, 0.5);
}

.easyPassword {
	background-color: #e52515;
}

.mediumPassword {
	background-color: #ffcc51;
}

.strongPassword {
	background-color: #007b00;
}